<div class="admin-kinds">
  <h3>分类管理</h3>
  <table class="global-table admin-kinds-table">
    <thead>
         <tr>
            <th>分类名称</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
         </tr> 
     </thead>
     <tbody>
         <tr ng-repeat="kind in vm.kinds" ng-dblclick="vm.editKind(kind)">
            <td>{{kind.name}}</td>
            <td>{{kind.create_at | dateFilter}}</td>
            <td>{{kind.update_at | dateFilter}}</td>
             <td>
              <md-menu md-offset="0 -5">
                <md-button ng-click="vm.openMenu($mdMenu, $event)" class="md-raised md-primary">操作
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button ng-click="vm.renameKind($event, kind)" >分类更名</md-button>
                  </md-menu-item>
                  <md-menu-item  ng-if="kind.name !== '未分类'">
                    <md-button ng-click="vm.deleteKind(kind)">删除分类</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
         </tr>
     </tbody>
  </table>
  <div class="placeholder" ng-if="vm.kinds.length === 0">
    暂无数据
  </div>
  <div class="add-kind">
    <div ng-if="vm.editing">
      <md-content layout-gt-sm="row" layout-padding>
        <div>
          <md-input-container>
            <label>分类名称</label>
            <input type="text" required ng-model="vm.kind.name">
          </md-input-container>
        </div>
      </md-content>
    </div>
    <md-button ng-if="vm.editing" ng-disabled="!vm.kind.name.length" class="md-raised md-primary" ng-click="vm.addkind()">保存
    </md-button>
    <md-button ng-click="vm.editing = !vm.editing" class="md-raised md-primary">{{vm.editing? '取消': '新增分类'}}
    </md-button>
  </div>
</div>
