.nav-header{
  span{
    outline: none;
  }
  md-fab-speed-dial{
    position: fixed;
  }
  .md-fab {
    background-color: #E0D3BF !important;
  }
  .avator{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-left: -5px;
  }
  svg{
    fill: #FFF;
  }
}
